<%- include('header'); -%>
  <div class="container">
    <div class="">
      <div class="grid-container-home">
        <% productCategory.forEach(data=> { %>
          <div class="item">
            <% const encodedCategory=encodeURIComponent(data); %>
              <% const url=`/category/${encodedCategory}`; %>
                <div>
                  <img class="category-img" src="../images/fashion.png">
                </div>
                <a href="<%=url%>" class="example_f">
                  <span>
                    <%= data %>
                  </span>
                </a>
          </div>
          <% }); %>
      </div>
    </div>
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../images/car-3.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../images/Car-3.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../images/car-3.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- all the products in list  -->
  <div>
    <h6>Today's</h6>
    <div class="flash-sale">
      <h6>Flash Sales</h6>
    </div>
    <div>
      <!-- render 3-4 product -->
    </div>
  </div>

  <!-- best selling product container -->
  <div>
    <h6>This Month</h6>
    <div>
      <h6>Best Selling Products</h6>
    </div>
    <div>
      <!-- render any 4 products -->
    </div>
  </div>

  <!-- main product container -->
  <div class="main-product">
    <h6>Our Products</h6>
    <div>
      <h5>Explore Our Products</h5>
    </div>
    <div class="main-product-grid">
      <% products.forEach(data=> { %>
        <%const cateG=data.category.replace(/ /g,'-'); const pName=data.name.replace(/ /g,'-');const imageUrl = data.imageUrl;const pRating=data.rating.rate; const pReview=data.rating.count;
        %>
          <div class="main-product">
            <div class="img-container">
              <span class="fa-stack wish-Button">
                            <!-- below button function is in footer -->
                <button class="wishList-btn" data-product_id="<%=data._id%>">
                  <%if(whistListItem!==undefined && whistListItem.includes(data._id)){ %>
                    <i class="fa-solid fa-heart wishList-Button" style="color:#ec4109"></i></button>
                  <%}else {%>
                    <i class="fa-regular fa-heart wishList-Button"></i></button>
                  <%}%>
              </span>
              <a href="/product/<%=data._id %>"><img src="<%=imageUrl%>"></a>
            </div>
            <div class="product-description">
              <div class="product-name">
                <%= data.name %>
              </div> 
              <div class="product-review">
                $<%= data.price %>
                <div class="product-Rating">
               <%=data.rating.rate %> <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
              </div>
                (<%=data.rating.count%>)
              </div>
            </div>
          </div>
          <% }); %>
    </div>
  </div>
  <!-- <script>console.log((`<%= whistListItem %>`).split(','));const wishListedItems =(`<%= whistListItem %>`).split(',');</script> -->
  <script>
      sessionStorage.setItem("lastname", "Smith")
  </script>
  <script src="../script/whisListScript.js"></script>
  <%- include('footer'); -%>