<%- include('header'); -%>
  <ul class="list-group">
    <% productCategory.forEach(data=> { %>
      <li class="list-group-item">
        <% const encodedCategory=encodeURIComponent(data); %>
          <% const url=`/category/${encodedCategory}`; %>
            <a href="<%=url%>"><button type="button" class="btn btn-secondary">
                <%= data %>
              </button></a>
      </li>
      <% }); %>
  </ul>
  <ul class="list-group">
    <% products.forEach(data=> { %>
      <li class="list-group-item">
        <a href="/product/<%=data._id %>">
          <%= data.name %> - $<%= data.price %>
        </a>
        <button type="button" class="btn btn-secondary cart-btn" data-products_id="<%=data._id%>">Add To Cart ?</button>
        <button type="button" class="btn btn-secondary wishList-btn" data-products_id="<%=data._id%>">Love Icon</button>
      </li>
      <% }); %>
  </ul>
  <%- include('footer'); -%>