<%- include('header'); -%>
    <div class="order-container">
        <div class="filters">
            <h3>Filters</h3>
            <div class="filter-row">
                <input type="checkbox" id="filter1">
                <label for="filter1">Filter 1</label>
            </div>
            <div class="filter-row">
                <input type="checkbox" id="filter2">
                <label for="filter2">Filter 2</label>
            </div>
            <div class="filter-row">
                <input type="checkbox" id="filter3">
                <label for="filter3">Filter 3</label>
            </div>
            <div class="filter-row">
                <input type="checkbox" id="filter4">
                <label for="filter4">Filter 4</label>
            </div>
        </div>
        <div class="orders">
        <%const productArr = productDetails;productArr.forEach((product)=>{%>
            <div class="order-box">
                <img src="<%=product.imageUrl%>" alt="Product Image">
                <div class="order-details">
                    <h4><%=product.name%></h4>
                    <p>Price: <%=product.price%></p>
                    <p>Status: Delivered</p>
                </div>
            </div>
        <%}) %>
        </div>
    </div>
<script>

</script>
<%- include('footer'); -%>
