<%- include('header'); -%>

    <div class="product-container">
        <div class="product-sm-img">
            product small images
        </div>
        <div>
            <img class="product-img" src="<%=product.imageUrl%>">
        </div>
        <div class="product-details">
            <h5><%=product.name%></h5>
            <p><%=product.rating.rate%> (<%=product.rating.count%> Reviews) | In Stock</p>
            <h6>$ <%=product.price%></h6>
            <%const desc =product.description%>
            <p><%=desc%></p>
            <h6>Colors: </h6>
            <div class="product-size">
              <h6 class="size-cls">Size: </h6>
             <div class="cust-btn-p">
                <button class="size-button"><bold>XS</bold></button>
                <button class="size-button">S</button>
                <button class="size-button">M</button>
                <button class="size-button">L</button>
                <button class="size-button">XL</button>
             </div>
            </div>  
            <div>
                <button type="button" class="btn-style" data-product_id="<%=product._id%>">Add to cart?</button>
                <a href="/checkout/product/<%=product._id%>"><button type="button" id='cart' class="btn-style"
                    data-product_id="<%=product._id%>">Buy Now </button></a>
                <a href="/"><button class="size-button"><i class="fa-regular fa-heart fa-lg"></i></button></a>
            </div>
            <div class="delivery-comp">
                <p style="margin-top: 10px;"><i class="fa-solid fa-truck-fast fa-xl"></i>Free Delivery</p>
                <a>Enter your postal code for Delivery Availability</a>
                <br>
                <br>
                <p><i class="fa-solid fa-arrows-rotate fa-xl"></i> Return Delivery </p>
                <a>Free 30 Days Delivery Returns. Details</a>
            </div>
        </div>
    </div>



    </body>
    <%- include('footer'); -%>